{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<article{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>



    <header>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>             

              <a class="navbar-brand" href="/buyer/dashboard"><img src="/themes/icecapusa_theme/logo-black.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav navbar-right">                  
                  <li class="menu-drop">
                      <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Appoets Demo
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="/orders">My Orders</a></li>
                            <li><a href="/user">Profile</a></li>
                            <li><a href="/buyer/password/reset">Change Password</a></li>
                            <li><a href="/user/logout"
                                    onclick="event.preventDefault();
                                    document.getElementById('logout-form').submit();">Logout</a></li>
                                    <form id="logout-form" action="/logout" method="POST" style="display: none;">
                                        <input type="hidden" name="_token" value="f7iGPT3osApG0dWoA1tyzf6ZwSkonwMPjacjMRZe">
                                    </form>
                          </ul>
                        </div>
                  </li>
                </ul>
            </div>
        </div>
      </div>
    </nav>
</header>
    <div class="page-content dashboard-page">    
        <div class="container">
            
            <div class="col-md-3">
    <div class="dash-left">
    {{ user_avatar }}
        <div class="user-img">
                        <div class="pro-img" style="background-image: url(/main/avatar.jpg);"></div>
            <h4>Appoets Demo</h4>
        </div>
        <div class="side-menu">
             <ul>
                <li><a href="/buyer/dashboard">Dashboard</a></li>
                <li><a href="/buyer/orders">My Orders</a></li>
                <li><a href="/buyer/orders/scheduled">Scheduled Orders</a></li>
                <li><a href="/buyer/profile">Profile</a></li>
                <li><a href="/buyer/password/reset">Change Password</a></li>
                <li><a href="/buyer/payment">Payment</a></li>
                <li><a href="/promotion">Promotions</a></li>
                <li><a href="/buyer/wallet">My Wallet <span class="pull-right">$0.00</span></a></li>
                <li><a href="/user/logout"
                        onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();">Logout</a></li>
                        <form id="logout-form" action="/user/logout" method="POST" style="display: none;">
                            <input type="hidden" name="_token" value="f7iGPT3osApG0dWoA1tyzf6ZwSkonwMPjacjMRZe">
                        </form>
            </ul>
        </div>
    </div>
</div>            
<div class="col-md-9">
    <div class="dash-content">
        <div class="row no-margin">
            <div class="col-md-12">
                <h4 class="page-title">Order Now</h4>
            </div>
        </div>
                <div class="row no-margin">
            <div class="col-md-12">
                <form action="/buyer/ride" method="GET" onkeypress="return disableEnterKey(event);">
                <!--
                    <div class="input-group dash-form">
                        <input type="text" class="form-control" id="origin-input" name="s_address"  placeholder="Enter pickup location">
                    </div>

                    <div class="input-group dash-form">
                        <input type="text" class="form-control" id="destination-input" name="d_address"  placeholder="Enter drop location" >
                    </div>

                    <input type="hidden" name="s_latitude" id="origin_latitude">
                    <input type="hidden" name="s_longitude" id="origin_longitude">
                    <input type="hidden" name="d_latitude" id="destination_latitude">
                    <input type="hidden" name="d_longitude" id="destination_longitude">
                    <input type="hidden" name="current_longitude" id="long">
                    <input type="hidden" name="current_latitude" id="lat">
-->
{{ product_list }}
                    <div class="product-detail">
                        <div class="car-radio">
                            <input type="radio" 
                                name="service_type"
                                value="{{ i }}"
                                id="service_{{ i }}"
                                 checked="checked" >
                            <label for="service_{{ i }}">
                                <div class="car-radio-inner">
                                    <!--<div class="img"><img src="/asset/img/cars/sedan.png"></div>-->
                                    <div class="name"><span>Sedan</span></div>
                                </div>
                            </label>
                        </div>

                    </div>

                    <button type="submit"  class="full-primary-btn fare-btn">Order Now</button>

                </form>
            </div>
            <!--
            <div class="col-md-6">
                <div class="map-responsive">
                    <div id="map" style="width: 100%; height: 450px;"></div>
                </div> 
            </div>
            -->
        </div>
    </div>
</div>


        </div>
    </div>


    <div class="row footer no-margin">
        <div class="container">
            <div class="col-md-6 text-left">
                <p>&copy; 2017 IceCap USA</p>
            </div>
            <!--
            <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <a href="" class="app"><img src="/asset/img/appstore.png"></a>
                <a href="" class="app"><img src="/asset/img/playstore.png"></a>
            </div>
            -->
        </div>
    </div>

    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>       
    <script type="text/javascript" src="/asset/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/asset/js/jquery-migrate-1.2.1.min.js"></script> 
    <script type="text/javascript" src="/asset/js/slick.min.js"></script>
    <script src="/asset/js/bootstrap-datepicker.min.js"></script>
    <script src="/asset/js/bootstrap-timepicker.js"></script>
    <script src="/asset/js/dashboard-scripts.js"></script>

        
<script type="text/javascript">
    var current_latitude = 13.0574400;
    var current_longitude = 80.2482605;
</script>

<script type="text/javascript">
    if( navigator.geolocation ) {
       navigator.geolocation.getCurrentPosition( success, fail );
    } else {
        console.log('Sorry, your browser does not support geolocation services');
        initMap();
    }

    function success(position)
    {
        document.getElementById('long').value = position.coords.longitude;
        document.getElementById('lat').value = position.coords.latitude

        if(position.coords.longitude != "" && position.coords.latitude != ""){
            current_longitude = position.coords.longitude;
            current_latitude = position.coords.latitude;
        }
        initMap();
    }

    function fail()
    {
        // Could not obtain location
        console.log('unable to get your location');
        initMap();
    }
</script> 

<script type="text/javascript" src="/asset/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEJUPrYJXDZNgb9KATSHAQYP-7lcchUts&libraries=places&callback=initMap" async defer></script>

<script type="text/javascript">
    function disableEnterKey(e)
    {
        var key;
        if(window.e)
            key = window.e.keyCode; // IE
        else
            key = e.which; // Firefox

        if(key == 13)
            return e.preventDefault();
    }
</script>


  </div>

</article>
